
.pc_display{
  display: none;
}
/* heightの調整 */
.botui_headder{
  height: 7.5%;
}
.botui-app-container{
  height: 82.5%;
}
.botui-input-form{
  height: 10%;
}

.botui-app-container-wrap{
  width: 100vw;
  height: 100vh;
}
.botui_headder{
  width: 100%;
  color: #fff;
  background-color: #0C2E61;
}
.botui_headder p {
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 22px;
  padding: 16px 0 10px 0;
}
.botui-messages-containe, .botui-actions-container{
  background-color: #fafaff;
}
span{
  font-size: 16px;
}
.botui-input-form{
  background-color: #DAD5CD;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.botui-input-form input{
  border-radius: 18px;
  height: 70%;
  width: 75%;
  outline: none;
}
.fa-paper-plane{
  font-size: 34px;
  color: #fff;
  background-color: #1C3E71;
  padding: 9px 19px 11px 18px;
  border-radius: 12px;
}

/* //モバイルファースト */
@media (min-width: 1024px) {
  .pc_display{
    display: block;
  }
  body{
    background-color: #f5f6f7;
  }
  .sentence{
    margin: 0 auto 15px auto;
    text-align: center;
  }
  .botui-app-container-wrap{
    width: 300px;
    height: 600px;
    margin: 0 auto;
    border: solid 1px #333;
  }
  .botui-container{
    width: 298px;
  }
  .botui_headder p{
    padding: 6px 0;
  }
  span{
    font-size: 15px;
  }
  .fa-paper-plane{
    font-size: 28px;
    padding: 7px 16px 7px 16px;
  }
}